<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> BoomFit.eu </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/img/favicons/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- CSS  -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/bundle.css">
  <link rel="stylesheet" type="text/css" href="/css/hody-icons.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
  <div class="fixed-cta">
    <a href="https://www.boomfit.eu">
      <div>
        <span class="title hidden-sm hidden-xs">Visit website</span>
        <span class="icon hidden-lg hidden-md"><i class="fas fa-shopping-basket"></i></span>
      </div>
    </a>
  </div>
  <!-- NAVBAR -->
  <div id="wrapper">
    <nav id="navbar">
      <div class="navbar-wrapper">
        <div class="container-fluid">
          <div class="logo marg">
            <a href="/en">
            <img src="img/logoboom.png">
          </a>
          </div>
          <div class="menu-extras">
            <div class="menu-item">
              <div class="nav-toggle">
                <a class="menu-toggle" href="#">
                  <div class="hamburger">
                    <div class="hamburger-box">
                      <div class="hamburger-inner"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div id="navigation">
            <ul class="navigation-menu nav">
              <li id="hv" class="menu hgt">
                <a href="#home" data-scroll="true">Start</a>
              </li>
              <li id="hv" class="menu hgt">
                <a href="#introduction" data-scroll="true">Introduction</a>
              </li>
              <li id="hv" class="menu hgt">
                <a href="#partners" data-scroll="true">Partners</a>
              </li>
              <li id="hv" class="menu hgt">
                <a href="#clients" data-scroll="true">Clients</a>
              </li>
              <li id="hv" class="menu hgt">
                <a href="#contacts" data-scroll="true">Contacts</a>
              </li>
              {% import "_macros.html" as macros %}
              <li id="hv" class="menu-item-has-children menu">
                <a href="/en" data-scroll="true" class="hgt">EN</a>
                <ul class="submenu">
                  <li id="hv" class="menu">
                    <a href="/pt">PT</a>
                  </li>
                  <li id="hv" class="menu">
                    <a href="/es">ES</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
<!-- END NAVBAR -->
{% block main %}{% endblock %}
<!-- FOOTER -->
<section class="footer">
  <div class="container">
    <ul class="social-list text-center">
      <li class="social-item-linkedin"><a target="_blank" href="https://www.linkedin.com/company/boom-fit/"><i class="hc-linkedin"></i></a>
      </li>
      <li class="social-item-facebook"><a target="_blank" href="https://www.facebook.com/boomfit.eu"><i class="hc-facebook"></i></a>
      </li>
      <li class="social-item-twitter"><a target="_blank" href="https://twitter.com/Boomfit_es"><i class="hc-twitter"></i></a>
      </li>
      <li class="social-item-instagram"><a target="_blank" href="https://www.instagram.com/boomfit.eu/"><i class="hc-instagram"></i></a>
      </li>
    </ul>
  </div>
  <div class="container">
    <center><img class="footer" src="/img/logofooter.png"></center>
  </div>
</section>
<!-- JAVASCRIPT -->
<script src="/js/jquery.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/SmoothScroll.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNGOsBBZo9vf0Tw4w6aJiilSTFVfQ5GPI"></script>
<script src="/js/main.js"></script>
</body>
</html>
