<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> BoomFit.eu </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/img/favicons/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="/css/bundle.css">
  <link rel="stylesheet" type="text/css" href="/css/hody-icons.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Source+Sans+Pro:300,400|Kaushan+Script|Lora|Playfair+Display:700">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<style>


#navitem:hover{
  background-color:#de002f !important;
  height: 70px;
  color:#fff !important;
}

a#linguagem{
  height:70px !important;
  margin-bottom:10px !important;
}

#linguagem:hover{
  background-color:#de002f !important;
  color:#fff !important;
}

#submenus:hover{
  background-color:#de002f !important;
  color:#fff !important;
}


#formulario{
  margin-left:3.5%;
}
/* DROPDOWN DE LINGUAGENS  */



/* MEDIA QUERIES */

/* Most of the Smartphones Mobiles */

@media (min-width: 320px) and (max-width: 480px) {

#h1-home{font-size:4rem;}

#cartoes{
  margin-top:-60px;
  margin-left:5px;
  padding-bottom:30px;
}

#navlogo{
  margin-top:5px;
}

#formulario{
  margin-left:0;
}

}

/* TABLET */
@media (min-width: 768px) and (max-width: 769px) {

#cartoes{
margin-top:-40px;
margin-left:8.5%;
}

#navlogo{
  margin-top:5px;
}

#formulario{
  margin-left:0;
}

}
/* LAPTOP DE 1024 */
@media (min-width:770px) and (max-width : 1025px) {

  #cartoes{
  margin-top:70px;
}

#formulario{
  margin-left:3.5%
}

}
</style>

</head>
<body>
  <div class="fixed-cta" id="iconcesta">
   <a href="http://boomfit.eu">
     <div>
       <span class="text hidden-sm hidden-xs">Voltar à loja</span>
       <span class="icon hidden-lg hidden-md"><i class="fas fa-shopping-basket"></i></span>
     </div>
   </a>
 </div>

    <!-- NAVBAR -->
  <div id="wrapper">
    <nav id="navbar">
      <div class="navbar-wrapper">
        <div class="container-fluid">
          <div class="logo marg">
            <a href="/pt">
              <img  src="/img/logoboom.png">
            </a>
          </div>
          <div class="menu-extras">
            <div class="menu-item">
              <div class="nav-toggle">
                <a class="menu-toggle" href="#">
                  <div class="hamburger">
                    <div class="hamburger-box">
                      <div class="hamburger-inner"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div id="navigation">
            <ul class="navigation-menu nav float-right">
              <li>
                <a href="#home" data-scroll="true" id="navitem">Início</a>
              </li>
              <li>
                <a href="#introduction" data-scroll="true" id="navitem">Introdução</a>
              </li>
              <li>
                <a href="#partners" data-scroll="true" id="navitem">Parcerias</a>
              </li>
              <li>
                <a href="#contacts" data-scroll="true" id="navitem">Contactos</a>
              </li>
              {% import "_macros.html" as macros %}
              <li class="menu-item-has-children">
                <a href="/pt" data-scroll="true" id="linguagem">PT<span class="icon hidden-lg hidden-md"><i class="fas fa-angle-down" id="iconsubmenu"></i></span></a>
                <ul class="submenu" id="drop">
                  <li>
                    <a href="/es" id="submenus">ES</a>
                  </li>
                  <li>
                    <a href="/en" id="submenus">EN</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- END NAVBAR -->


    <!-- LINGUAGENS -->
    <!--{% import "_macros.html" as macros %}
    <div class="text-center">
    <div class="extra-cell">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" style="background-color:transparent;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span>PT</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="/en">EN</a></li>
          <li><a href="/es">ES</a></li>
        </ul>
      </div>
    </div>
  </div>-->
  <!-- FIM LINGUAGENS -->
</div>
</aside>
<!-- END NAVBAR -->
{% block main %}{% endblock %}
<!-- FOOTER -->
<section class="footer">
  <div class="container">
    <ul class="social-list text-center">
      <li class="social-item-linkedin"><a target="_blank" href="https://www.linkedin.com/company/boom-fit/"><i class="hc-linkedin"></i></a>
      </li>
      <li class="social-item-facebook"><a target="_blank" href="https://www.facebook.com/boomfit.eu"><i class="hc-facebook"></i></a>
      </li>
      <li class="social-item-twitter"><a target="_blank" href="https://twitter.com/Boomfit_es"><i class="hc-twitter"></i></a>
      </li>
      <li class="social-item-instagram"><a target="_blank" href="https://www.instagram.com/boomfit.eu/"><i class="hc-instagram"></i></a>
      </li>
    </ul>
  </div>
  <div class="container">
    <center><img class="footer" src="/img/logofooter.png"></center>
  </div>
</section>
<!-- JAVASCRIPT -->
<script src="/js/jquery.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/SmoothScroll.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkZOiISmC8xxBNdHmIbiZtVs0i7G0clTU"></script>
<script src="/js/myscripts.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
