{% extends 'layout' %}
{% block main %}
<body>
  <section id="home">
        <div id="home-slider">
              <div class="slide-item">
                    <img src="img/banner1.png" alt="">
                    <div class="slide-wrap">
                          <div class="slide-content">
                                <div class="container">
                                      <h1 class="upper">Equipe su<br>estudio ou gimnásio!</h1>
                                      <h4>Conozca nuestras comodidades de pago!</h4>
                                      <p><a class="btn btn-light upper no-radius" href="#contacts" data-scroll="true">Sepa más!</a>
                                      </p>
                                </div>
                          </div>
                    </div>
              </div>
        </div>
  </section>
  <section id="introduction">
        <div class="container">
              <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                          <div class="title text-center">
                                <h6 class="colored-text">Los precios más bajos de la Europa</h6>
                                <h1>BOOMFIT - Nº1 FITNESS STORE!</h1>
                                <hr>
                          </div>
                          <div class="section-content text-center">
                                <p class="fw-300 font-20">BoomFit es una marca de fitness, con producción propia que se compromete a satisfacer de la mejor forma las necesidades del mercado Fitness, trabajamos con los más variados espacios deportivos, como Clubes de Fútbol, Gimnasios, Escuelas, Estudios ... entre otros.
  Dedicación, dinamismo y competencia son algunas de las características que hacen de esta tienda el nº1 de Fitness de Europa!</p>
                                      <p>
                                            <center><a class="btn btn-light-intro upper no-radius" href="#contacts" data-scroll="true">Contáctenos!</a></center>
                                      </p>
                                </div>
                          </div>
                    </div>
              </div>
        </section>
        <section class="dark-bg p-0">
              <div class="container-fluid">
                    <div class="row row-flex">
                          <div class="col-sm-4">
                                <div class="column-inner with-padding">
                                      <div class="icon-box align-center" data-animation="fadeInUp"><i class="hc-watch-alt"></i>
                                            <div class="ib-content">
                                                  <h4 class="upper">¡Con facilidad de Pago!</h4>
                                                  <p class="fw-300">¡BoomFit le ayuda a concretar sus planes! ¡Métodos de pago a pensar en usted! ¡Hecho a medida!</p>
                                            </div>
                                      </div>
                                </div>
                          </div>
                          <div class="col-sm-4">
                                <div class="column-inner with-padding" data-custom-bg="rgba(0, 0, 0, 0.2)">
                                      <div class="icon-box align-center" data-animation="fadeInUp" data-delay="300"><i class="hc-money"></i>
                                            <div class="ib-content">
                                                  <h4 class="upper">¡Productos en 48H!</h4>
                                                  <p class="fw-300">Un equipo que trabaja todos los días para que los equipos lleguen hasta usted a la mayor brevedad posible.</p>
                                            </div>
                                      </div>
                                </div>
                          </div>
                          <div class="col-sm-4">
                                <div class="column-inner with-padding" data-custom-bg="rgba(0, 0, 0, 0.4)">
                                      <div class="icon-box align-center" data-animation="fadeInUp" data-delay="600"><i class="hc-euro-alt"></i>
                                            <div class="ib-content">
                                                  <h4 class="upper">¡Precios más bajos de la Europa!</h4>
                                                  <p class="fw-300">¡Garantizamos los precios más bajos aliados a productos de alta calidad!</p>
                                            </div>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
        </section>
        <section id="partners" class="portfolio">
              <div class="container">
                    <div class="title text-center">
                          <h1>Asociaciones</h1>
                          <hr>
                    </div>
              </div>
        </section>
        <section class="white-bg p-0">
              <div class="container-fluid">
                    <div class="row pt-10 pb-10 pl-10 pr-10">
                          <div class="enable-animation four-col with-spacing" id="works-grid">
                                <div class="work-item">
                                      <div class="work-detail">
                                            <a>
                                                  <img src="img/1.png" alt="">
                                                  <div class="work-info">
                                                        <div class="centrize">
                                                              <div class="v-center">
                                                                    <h3>Ruben Neves</h3>
                                                                    <p>Personal Trainer</p>
                                                              </div>
                                                        </div>
                                                  </div>
                                            </a>
                                      </div>
                                </div>
                                <div class="work-item">
                                      <div class="work-detail">
                                            <a>
                                                  <img src="img/2.png" alt="">
                                                  <div class="work-info">
                                                        <div class="centrize">
                                                              <div class="v-center">
                                                                    <h3>Eduarda Silva</h3>
                                                                    <p>Personal Trainer</p>
                                                              </div>
                                                        </div>
                                                  </div>
                                            </a>
                                      </div>
                                </div>
                                <div class="work-item">
                                      <div class="work-detail">
                                            <a>
                                                  <img src="img/3.png" alt="">
                                                  <div class="work-info">
                                                        <div class="centrize">
                                                              <div class="v-center">
                                                                    <h3>Fábio Costa</h3>
                                                                    <p>Personal Trainer</p>
                                                              </div>
                                                        </div>
                                                  </div>
                                            </a>
                                      </div>
                                </div>
                                <div class="work-item">
                                      <div class="work-detail">
                                            <a>
                                                  <img src="img/4.png" alt="">
                                                  <div class="work-info">
                                                        <div class="centrize">
                                                              <div class="v-center">
                                                                    <h3>Ricardo Campos</h3>
                                                                    <p>Personal Trainer</p>
                                                              </div>
                                                        </div>
                                                  </div>
                                            </a>
                                      </div>
                                </div>
                                <div class="work-item">
                                      <div class="work-detail">
                                            <a>
                                                  <img src="img/5.png" alt="">
                                                  <div class="work-info">
                                                        <div class="centrize">
                                                              <div class="v-center">
                                                                    <h3>Luís Fontes</h3>
                                                                    <p>Personal Trainer</p>
                                                              </div>
                                                        </div>
                                                  </div>
                                            </a>
                                      </div>
                                </div>
                                <div class="work-item">
                                      <div class="work-detail">
                                            <a>
                                                  <img src="img/6.png" alt="">
                                                  <div class="work-info">
                                                        <div class="centrize">
                                                              <div class="v-center">
                                                                    <h3>Sofia Ramalho</h3>
                                                                    <p>Personal Trainer</p>
                                                              </div>
                                                        </div>
                                                  </div>
                                            </a>
                                      </div>
                                </div>
                                <div class="work-item">
                                      <div class="work-detail">
                                            <a>
                                                  <img src="img/7.png" alt="">
                                                  <div class="work-info">
                                                        <div class="centrize">
                                                              <div class="v-center">
                                                                    <h3>Margarida Mègre</h3>
                                                                    <p>Personal Trainer</p>
                                                              </div>
                                                        </div>
                                                  </div>
                                            </a>
                                      </div>
                                </div>
                                <div class="work-item">
                                      <div class="work-detail">
                                            <a>
                                                  <img src="img/8.png" alt="">
                                                  <div class="work-info">
                                                        <div class="centrize">
                                                              <div class="v-center">
                                                                    <h3>Duarte Antunes</h3>
                                                                    <p>Personal Trainer</p>
                                                              </div>
                                                        </div>
                                                  </div>
                                            </a>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
        </section>
        <section id="clients">
              <div class="container">
                    <div class="title text-center">
                          <h1>Clientes</h1>
                          <hr>
                    </div>
                    <div class="row pt-25 pb-25">
                          <div class="client-carousel carousel" data-slick="{&quot;slidesToShow&quot;: 6, &quot;dots&quot;: false}">
                                <div class="carousel-item">
                                      <figure>
                                            <img src="img/cliente1.png" alt="">
                                      </figure>
                                </div>
                                <div class="carousel-item">
                                      <figure>
                                            <img src="img/cliente2.png" alt="">
                                      </figure>
                                </div>
                                <div class="carousel-item">
                                      <figure>
                                            <img src="img/cliente3.png" alt="">
                                      </figure>
                                </div>
                                <div class="carousel-item">
                                      <figure>
                                            <img src="img/cliente4.png" alt="">
                                      </figure>
                                </div>
                                <div class="carousel-item">
                                      <figure>
                                            <img src="img/cliente5.png" alt="">
                                      </figure>
                                </div>
                                <div class="carousel-item">
                                      <figure>
                                            <img src="img/cliente6.png" alt="">
                                      </figure>
                                </div>
                          </div>
                    </div>
              </div>
        </section>
        <section class="contacts" id="contacts" class="split-section section-bordered">
              <div class="container-fluid">
                    <div class="row">
                          <div class="col-md-6 map-side map-right">
                                <div id="map" data-lat="41.3731315" data-long="-8.544687199999998"></div>
                          </div>
                    </div>
              </div>
              <div class="container">
                    <div class="col-md-5 col-sm-12">
                          <div class="title text-center">
                                <h1>¡Haga su pedido!</h1>
                                <h4 class="upper">Vamos a trabajar juntos.</h4>
                                <hr>
                          </div>
                          <div class="section-content">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" placeholder="Nombre" required="required" id="name">
                            </div>
                            <div class="form-group">
                              <input type="text"  name="email" class="form-control" placeholder="E-mail" id="email">
                            </div>
                            <div class="form-group">
                              <input type="text" name="phone" class="form-control" placeholder="Móvil"  id="phone-number">
                            </div>
                            <div class="form-group">
                              <select name="location" class="form-control" required="required" id="city-id"><option value="">Lugar</option></select>
                            </div>
                            <div class="form-group">
                              <div class="input text required"><input type="text" name="message" class="form-control" placeholder="Escriba aquí su mensaje" required="required" id="custom-data"></div>
                            </div>
                            <p class="consent-copy">Sus datos personales serán tratados por la entidad World Fit Online Lda, a efectos comerciales, hasta 60 días después de la validez de la promoción.</p>
                            <p class="consent-copy">Estoy de acuerdo en contactar con la empresa World Fit Online, para enviar sus informaciones, ofertas y promociones, durante 24 meses o 24 meses después del último contacto, a través de:</p>
                            <div class="input checkbox">
                              <input type="hidden" name="consent_email" value="0">
                              <label for="lead-opt-in-email">
                              <input type="checkbox" name="consent_email" value="1" id="lead-opt-in-email">EMAIL</label>
                            </div>
                            <div class="input checkbox">
                              <input type="hidden" name="consent_sms" value="0">
                              <label for="lead-opt-in-sms"><input type="checkbox" name="consent_sms" value="1" id="lead-opt-in-sms">SMS</label>
                            </div>
                            <div class="form-group mt-25">
                              <button type="submit" class="btn btn-color upper">¡Enviar mensaje!<i class="fa fa-angle-right"></i></button>
                              </div>
                                <!-- Thank you or Error Text on form submission -->
                                <div id="form-messages"></div>
                          </form>
                    </div>
              </div>
        </div>
  </section>
  <section class="p-0">
        <div class="container-fluid">
              <div class="row row-flex">
                    <div class="col-sm-4">
                          <div class="column-inner with-padding white-bg">
                                <div class="icon-box align-center"><i class="hc-pin"></i>
                                      <div class="ib-content">
                                            <h3>Localización</h3>
                                            <p>Rua do Progresso nº29 <br>4780-841 Vilarinho das Cambas,<br> Vila Nova de Famalicão</p>
                                      </div>
                                </div>
                          </div>
                    </div>
                    <div class="col-sm-4">
                          <div class="column-inner with-padding grey-bg">
                                <div class="icon-box align-center"><i class="hc-mail-open"></i>
                                      <div class="ib-content">
                                            <h3>E-mail</h3>
                                            <p>info@boomfit.eu</p>
                                      </div>
                                </div>
                          </div>
                    </div>
                    <div class="col-sm-4">
                          <div class="column-inner with-padding dark-bg">
                                <div class="icon-box align-center"><i class="hc-phone-portrait"></i>
                                      <div class="ib-content">
                                            <h3>Contacto</h3>
                                            <p>+351 918 601 806</p>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
        </div>
  </section>
</body>
{% endblock %}
